@model CongNghePhanMemTienTien.DataContext.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuyenNganhID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenNganhID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuHuynh.HoTenCha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuHuynh.HoTenCha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
