@using PagedList.Mvc;
@model PagedList.PagedList<CongNghePhanMemTienTien.DataContext.SinhVien>
@{
    ViewBag.Title = "QUẢN LÝ SINH VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1 style="font-size:x-large">@ViewBag.TenLop QUẢN LÝ SINH VIÊN</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a href="/quan-ly/them-moi-sinh-vien" class="btn btn-success" title="Thêm mới sinh viên"><i class="fa fa-plus"></i></a> |
                        <a href="/sinhviens/ExportC?id=@ViewBag.ID" class="btn btn-warning" title="Xuất báo sinh viên"><i class="fa fa-upload"></i></a> |
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" title="Xuất báo sinh viên theo khoa"><i class="fa fa-upload"></i></button>
                    </div>
                    <div class="row col-lg-12">
                        <table class="table table-hover">
                            <tr>
                                <th style="width:70px">
                                    HÌNH
                                </th>
                                <th>
                                    HỌ TÊN
                                </th>
                                <th>
                                    MSSV
                                </th>
                                <th>
                                    EMAIL
                                </th>
                                <th>
                                    SDT
                                </th>
                                <th>
                                    LỚP
                                </th>
                                <th width="120px"> TÙY CHỌN</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.HinhDaiDien" class="img-responsive" />
                                    </td>
                                    <td>
                                        @item.TenSinhVien
                                    </td>
                                    <td>
                                        @item.MaSinhVien
                                    </td>
                                    <td>
                                        <a>@item.Email</a>
                                    </td>
                                    <td>
                                        <a>@item.SoDienThoai</a>
                                    </td>
                                    <td>
                                        @item.Lop.MaLop
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/quan-ly/sua-thong-tin-sinh-vien-@item.ID">Sửa</a> |
                                        <a class="btn btn-danger btn-sm" href="/SinhViens/Delete/@item.ID" onclick="return Xoa();">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        <div class="clearfix"></div>
                        <div class="card-body breadcrumbs">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, id = ViewBag.ID }))
                        </div>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<style>
    th, td {
        text-align: center;
    }

    .btn, .pagination > li:last-child > a {
        border-radius: 0px;
    }

    .pagination > li:first-child > a, .pagination > li:first-child > span {
        border-radius: 0px;
    }

    .pagination > li.active {
        width: 30px;
        background-color: red;
        height: 32px;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    .pagination > li {
        width: 30px;
        background-color: seagreen;
        height: 32px;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>
<script>

    function Xoa() {
        var con = confirm("Bạn có chắc xóa không?");
        if (con) {
            return true;
        }
        else {
            return false;
        }
    }
</script>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">DANH SÁCH KHOA</h4>
            </div>
            <div class="modal-body">
                @Html.Action("GetAllKhoa","SinhViens")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>