@model IEnumerable<CongNghePhanMemTienTien.DataContext.DiemDanhSV>

@{
    ViewBag.Title = "ĐIỂM DANH LỚP HỌC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-8">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1 style="font-size:x-large">ĐIỂM DANH LỚP HỌC - THẦY/CÔ: @ViewBag.tenGV</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a href="/thoi-khoa-bieu/them-moi-thoi-khoa-bieu" class="btn btn-success" title="thêm mới phụ huynh"><i class="fa fa-plus"></i></a> |
                        <a href="/quan-ly/ChuyenNganhs/Export" class="btn btn-warning" title="Xuất báo phụ huynh"><i class="fa fa-upload"></i></a>
                    </div>
                    <div class="row col-lg-12">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    MÔN HỌC
                                </th>
                                <th width="100px">
                                    NGÀY
                                </th>
                                <th width="30px">
                                    CA
                                </th>
                                <th>
                                    GIẢNG VIÊN
                                </th>
                                <th width="50px">
                                    LỚP
                                </th>
                                <th width="130px">
                                    TRẠNG THÁI
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                       <a href="/DiemDanhs/ClassDetail/@item.ID">@item.MonHoc.TenMonHoc</a>
                                    </td>
                                    <td align="center">
                                        @item.Ngay.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td align="center">
                                        @item.Ca1.TenCa
                                    </td>
                                    <td>
                                        @item.GiangVien.TenGiangVien
                                    </td>
                                    <td align="center">
                                        @item.Lop.MaLop
                                    </td>
                                    <td align="center">
                                        @if (item.IsCheck == true)
                                        {
                                            <span class="text-success" style="font-weight:bold">X</span>

                                        }
                                        else
                                        {
                                            <span class="text-danger" style="font-weight:bold">X</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
