@model IEnumerable<CongNghePhanMemTienTien.DataContext.SinhVienThucTap>

@{
    ViewBag.Title = "SINH VIÊN THỰC TẬP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-12">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1 style="font-size:x-large">QUẢN LÝ SINH VIÊN THỰC TẬP</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a href="/thuc-tap/them-moi-sinh-vien-thuc-tap" class="btn btn-success" title="thêm mới phụ huynh"><i class="fa fa-plus"></i></a> |
                        <a href="/quan-ly/sinh-vien/Export" class="btn btn-warning" title="Xuất báo phụ huynh"><i class="fa fa-upload"></i></a>
                    </div>
                    <div class="row col-lg-12">
                        <table class="table table-hover">
                            <tr>
                                <th style="width:70px">
                                    HÌNH
                                </th>
                                <th>
                                    HỌ TÊN
                                </th>
                                <th>
                                    MSSV
                                </th>
                                <th>
                                    EMAIL
                                </th>
                                <th>
                                    SDT
                                </th>
                                <th>
                                    LỚP
                                </th>
                                <th>
                                    GIẢNG VIÊN HD
                                </th>
                                <th>
                                    NGƯỜI QUẢN LÝ
                                </th>
                                <th width="120px"> TÙY CHỌN</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.SinhVien.HinhDaiDien" class="img-responsive" />
                                    </td>
                                    <td>
                                        @item.SinhVien.TenSinhVien
                                    </td>
                                    <td>
                                        @item.SinhVien.MaSinhVien
                                    </td>
                                    <td>
                                        <a>@item.SinhVien.Email</a>
                                    </td>
                                    <td>
                                        <a>@item.SinhVien.SoDienThoai</a>
                                    </td>
                                    <td>
                                        @item.SinhVien.Lop.MaLop
                                    </td>
                                    <td>
                                        @item.GiangVien.TenGiangVien
                                    </td>
                                    <td>
                                     <a title="@item.DVTTQuanLy.DonViThucTap.TenDonVi">@item.DVTTQuanLy.TenQuanLy</a> 
                                    </td> 
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/thuc-tap/sua-thong-tin-sinh-vien-thuc-tap-@item.ID">Sửa</a> |
                                        <a class="btn btn-danger btn-sm" href="/SinhVienThucTaps/Delete/@item.ID" onclick="return Xoa();">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script>

    function Xoa() {
        var con = confirm("Bạn có chắc xóa không?");
        if (con) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
